kafka-python==2.0.2
psycopg2-binary==2.9.6 # to connect to PostgreSQL (and TimescaleDB)
pandas==2.2.3
numpy==2.0.2
python-dotenv==1.0.0 # Loads .env variables into Python scripts.
scikit-learn==1.8.0
pre-commit==3.3.3 # Git tool to run checks before committing code.
requests==2.31.0 # HTTP library to call external APIs.
matplotlib==3.10.8
shap==0.51.0
joblib==1.5.1
lightgbm==4.6.0
